#state_wrapper .row-fluid.print-control button#job_cancel {
    transition: width 0.5s;
    position: absolute;
    right: 15px;
    width: calc(0.32 * (100% - 30px));
}

#touch #state_wrapper .row-fluid.print-control button#job_cancel {
    position: unset;
    right: unset;
}

#state_wrapper .row-fluid.print-control button#job_cancel.confirm {
    width: calc(100% - 30px)!important;
    background: red;
    color: white;
    z-index: 1;
}

#state_wrapper .row-fluid.print-control button#job_print {
    transition: width 0.5s;
    position: absolute;
    left: 15px;
    width: calc(0.32 * (100% - 30px));
}

#touch #state_wrapper .row-fluid.print-control button#job_print {
    position: unset;
    left: unset;
}

#state_wrapper .row-fluid.print-control button#job_print.confirm {
    width: calc(100% - 30px)!important;
    background: green;
    color: white;
    z-index: 1;
}

#state_wrapper .row-fluid.print-control button#job_pause {
    position: relative;
    left: calc(0.32 * (100% - 30px) + 10px);
    width: calc(0.32 * (100% - 30px) + 10px);
}

#touch #state_wrapper .row-fluid.print-control button#job_pause {
    position: unset;
    left: unset;
}

.preheatPluginEnabled#state_wrapper .row-fluid.print-control button#job_print {
    position: unset;
}

.preheatPluginEnabled#state_wrapper .row-fluid.print-control button#job_pause {
    position: unset;
}

.preheatPluginEnabled#state_wrapper .row-fluid.print-control button#job_print.confirm {
    width: 100%!important;
}

html.UICDefaultTheme #state_wrapper .row-fluid.print-control button#job_pause {
    left: calc(0.32 * (100% - 30px) + 8px);
}

@media (max-width: 767px) {
    body.UICResponsiveMode #state_wrapper .row-fluid.print-control button#job_pause {
        left: calc(0.34 * (100% - 30px) + 10px);
    }
    body.UICResponsiveMode #state_wrapper .row-fluid.print-control button {
        display: inline-block;
    }
    body.UICResponsiveMode .preheatPluginEnabled#state_wrapper .row-fluid.print-control button#job_pause, body.UICResponsiveMode .preheatPluginEnabled#state_wrapper .row-fluid.print-control button#job_cancel {
        margin-bottom: 10px;
        width: calc(0.48 * (100% - 30px) + 10px);
    }
}